@page
@model FondoEstimulo.Areas.Aplicacion.Pages.Procesos.ImportarModel
@{
    ViewData["Title"] = "Importar - Procesos mensuales";
}

<h2 class="text-primary">
    Procesos mensuales <small class="text-muted">- Importar -</small>
</h2>
<br />
<div class="row">
    <div class="col">
        @{
            if (!String.IsNullOrEmpty(Model.ErrorMessage))
            {
                <p class="alert alert-danger">@Model.ErrorMessage</p>
            }
            if (!String.IsNullOrEmpty(Model.RegistrosAgregadosMessage))
            {
                <p class="alert alert-info">@Model.RegistrosAgregadosMessage</p>
            }
            if (Model.AgentesNoEncontradosMessage != null && Model.AgentesNoEncontradosMessage.Count > 0)
            {
                <div class="card border-secondary p-1" style="font-size: small">
                    <div class="card-header">
                        <a href="#card-body-cb1" data-toggle="collapse" class="card-link">
                            <i class="bi-arrow-down-up"></i>
                            Agentes no encontrados:
                        </a>
                    </div>
                    <div id="card-body-cb1" class="card-body collapse">
                        @foreach (string agente in Model.AgentesNoEncontradosMessage)
                        {
                            <label>ID externo: @agente</label><br />
                        }
                    </div>
                </div>
            }
        }
        <br />
        <form enctype="multipart/form-data" method="post">
            <div class="form-group row">
                <label asp-for="@Model.FormFile" class="control-label col-sm-3">
                    @Html.DisplayNameFor(model => model.FormFile):
                </label>
                <div class="col-sm-9">
                    <input type="file" asp-for="@Model.FormFile" class="form-control" accept=".csv" />
                    <span asp-validation-for="@Model.FormFile" class="text-danger"></span>
                </div>
            </div>
            <button asp-page-handler="Upload" type="submit" class="btn btn-primary">
                <i class="bi-cloud-arrow-up mr-2"></i>Importar
            </button>
            <a asp-page="./Listado" class="btn btn-sm btn-outline-primary">
                <i class="bi-box-arrow-in-left mr-2"></i>Volver al listado
            </a>
        </form>
    </div>
</div>