@page "{id:int}"
@model FondoEstimulo.Areas.Aplicacion.Pages.Escalafon.DeleteModel

@{
    ViewData["Title"] = "Eliminar - Escalafón";
}

<h2 class="text-primary">
    Escalafón
    <small class="text-muted">- Eliminar -</small>
</h2>
<label>¿Seguro que desea eliminar este registro?</label>
<hr />
<div>
    <dl class="row">
        <dd class="col-sm-4">
            @Html.DisplayNameFor(model => model.Escalafon.Apartado):
        </dd>
        <dt class="col-sm-8">
            @Html.DisplayFor(model => model.Escalafon.Apartado)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayNameFor(model => model.Escalafon.Grupo):
        </dd>
        <dt class="col-sm-8">
            @Html.DisplayFor(model => model.Escalafon.Grupo)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayNameFor(model => model.Escalafon.SueldoBasico):
        </dd>
        <dt class="col-sm-8">
            @Html.DisplayFor(model => model.Escalafon.SueldoBasico)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayNameFor(model => model.Escalafon.ComplementoBasico):
        </dd>
        <dt class="col-sm-8">
            @Html.DisplayFor(model => model.Escalafon.ComplementoBasico)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayNameFor(model => model.Escalafon.SuplementoRemunerativo):
        </dd>
        <dt class="col-sm-8">
            @Html.DisplayFor(model => model.Escalafon.SuplementoRemunerativo)
        </dt>
    </dl>
    @{
        if (!String.IsNullOrEmpty(Model.ErrorMessage))
        {
            <p class="alert alert-danger">@Model.ErrorMessage</p>
        }
    }
<form method="post">
    <input type="hidden" asp-for="Escalafon.EscalafonID" />
    <button value="Eliminar" class="btn btn-danger"><i class="bi-trash mr-2"></i>Eliminar</button>
    <a asp-page="./Listado" class="btn btn-sm btn-outline-primary"><i class="bi-box-arrow-in-left mr-2"></i>Volver al listado</a>
</form>
</div>